@model dynamic
<style>
    .preview-content {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .lading-preview {
        min-height: 200px;
        background-color: #F2F2F2;
        /* padding: 20px; */
        /* -webkit-box-sizing: border-box; */
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 11px 5px -10px rgba(0, 0, 0, 0.3);
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
    }

    hr {
        border-style: dashed;
    }
    /*.extra-title:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        border-top: 1px solid #DDD;
        width: 100%;
        left: 0;
        height: 1px;
        z-index: 1;
    }*/
</style>

<div class="row">
    <label for="inputPassword3" class="col-sm-1 control-label">Liên hệ</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="shipping_pickup_contact_name" required placeholder="Họ và tên" value='@Model.from_address.name'>
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="shipping_pickup_contact_mobile" maxlength="11" required onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Số điện thoại" value="@Model.from_address.phone">
    </div>
    <label for="inputPassword3" class="col-sm-2 control-label">BC gắn kết</label>
    @if (Model.from_address.postcode_link != null)
    {
        <div class="col-sm-2">
            <input type="text" class="form-control" id="shipping_pickup_postcode_link" required placeholder="Bưu cục gắn kết" value='@Model.from_address.postcode_link'>
        </div>
    }
    else
    {
        <div class="col-sm-2">
            <input type="text" class="form-control" id="shipping_pickup_postcode_link" required placeholder="Bưu cục gắn kết" value=''>
        </div>
    }
</div>
<div class="row">
    <label for="shipping_pickup_product_name" class="col-sm-1 control-label">Sản phẩm</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="shipping_pickup_product_name" placeholder="Tên sản phẩm" value="@Model.product.name">
    </div>
    @if (Model.product != null && Model.product.code != null)
    {
        <div class="col-sm-2">
            <input type="text" class="form-control" id="shipping_pickup_product_code" placeholder="Mã sản phẩm" value="@Model.product.code">
        </div>
    }
    else
    {
        <div class="col-sm-2">
            <input type="text" class="form-control" id="shipping_pickup_product_code" placeholder="Mã sản phẩm">
        </div>
    }
    <label class="col-sm-1 control-label">Dịch vụ</label>


    @if (Model.service != null && Model.service.shipping_main_service != null)
    {
        if (Model.service.shipping_main_service == "1")
        {
            <div class="col-sm-3">
                <select class="form-control select-forward-text" id="shipping_pickup_service_type" data-target="lblServiceType">
                    <option>--Dịch vụ--</option>
                    <option value="1" selected>Chuyển Phát Nhanh</option>
                    <option value="0">Chuyển Phát Thường</option>
                </select>
            </div>
        }
        else
        {
            <div class="col-sm-3">
                <select class="form-control select-forward-text" id="shipping_pickup_service_type" data-target="lblServiceType">
                    <option>--Dịch vụ--</option>
                    <option value="1">Chuyển Phát Nhanh</option>
                    <option value="0" selected>Chuyển Phát Thường</option>
                </select>
            </div>
        }
    }
    else
    {
        <div class="col-sm-3">
            <select class="form-control select-forward-text" id="shipping_pickup_service_type" data-target="lblServiceType">
                <option>--Dịch vụ--</option>
                <option value="1">Chuyển Phát Nhanh</option>
                <option value="0" selected>Chuyển Phát Thường</option>
            </select>
        </div>
    }

</div>

<div class="row">
    @*<label class="col-sm-1 control-label">Loại hàng</label>
        <div class="col-sm-4">
            <select class="form-control select-forward-text" id="shipping_pickup_product_type" data-target="lblProductType">
                <option>--Hàng hóa--</option>
                <option value="BP">Ấn Phẩm</option>
                <option value="BK">Hàng Hóa</option>
            </select>
        </div>*@
    <label for="shipping_pickup_cod_amount" class="col-sm-1 control-label">Giá trị</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="shipping_pickup_amount" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Giá trị" value="@Model.product.value.ToString("N0")">
    </div>
    <label for="shipping_pickup_weight" class="col-sm-1 control-label">Khối lượng</label>
    @if (Model.parcel != null && Model.parcel.weight != null)
    {
        <div class="col-sm-2">
            <input type="text" class="form-control" id="shipping_pickup_weight" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Khối lượng" value="@Model.parcel.weight">
        </div>
    }
    else
    {
        <div class="col-sm-2">
            <input type="text" class="form-control" id="shipping_pickup_weight" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Khối lượng" value="@Model.product.weight">
        </div>
    }

    <label for="shipping_pickup_quantity" class="col-sm-1 control-label">Số lượng</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="shipping_pickup_quantity" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Số lượng" value="@Model.product.quantity">
    </div>
</div>
<div class="row">
    <label class="col-sm-1 control-label">Thời gian</label>
    <div class="col-sm-2">
        <input type="date" class="form-control forward-text" id="shipping_pickup_contact_date" data-target="lblContactDate" value="@Model.product.date" />
    </div>
    <div class="col-sm-2">
        <input type="time" class="form-control forward-text" id="shipping_pickup_contact_time" data-target="lblContactTime" value="@Model.product.time" />
    </div>
    <label class="col-sm-1 control-label">&nbsp;</label>

    @if (Model.tracking_code != null)
    {
        if (Model.system_status != "C1")
        {
            <label for="shipping_pickup_quantity" class="col-sm-1 control-label">Mã vận đơn</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="shipping_pickup_code" value="@Model.tracking_code" placeholder="Nhập mã mới">
            </div>
        }
    }
    else
    {
        if (Model.system_status != "C1")
        {
            <label for="shipping_pickup_quantity" class="col-sm-1 control-label">Mã vận đơn</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="shipping_pickup_code" placeholder="Nhập mã mới">
            </div>
        }
    }
    @*<label for="shipping_pickup_quantity" class="col-sm-1 control-label" style="font-weight: bold; color: #f99d1c;line-height:34px;">@Model.tracking_code</label>*@
</div>
<hr />
<div class="row">
    <label for="inputPassword3" class="col-sm-1 control-label">Người nhận</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="shipping_pickup_receiver_name" required placeholder="Họ và tên" value="@Model.to_address.name">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="shipping_pickup_receiver_mobile" required onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" placeholder="Điện thoại người nhận" value="@Model.to_address.phone">
    </div>
</div>
<div class="row">
    <label for="address" class="col-sm-1 control-label">Địa chỉ</label>
    <div class="col-sm-5">
        <input type="text" class="form-control forward-text" id="shipping_pickup_receiver_address" required placeholder="Địa chỉ" value="@Model.to_address.address">
    </div>
    <div class="col-sm-2">
        <select class="form-control select-forward-text province province-receiver" data-group="receiver" required id="shipping_pickup_receiver_province">
            <option value="">--Tỉnh, thành--</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-control select-forward-text district district-receiver" data-group="receiver" id="shipping_pickup_receiver_district">
            <option>--Quận, huyện--</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-control select-forward-text ward ward-receiver" data-group="receiver" id="shipping_pickup_receiver_ward">
            <option>--Phường, xã--</option>
        </select>
    </div>
</div>
<script>
    function refreshShippingUI() {
        $('#customer_name').val('');
        $('#address').val('');
        $('#shipping_pickup_receiver_name').val(""),
        $('#shipping_pickup_receiver_address').val(""),
        $('#shipping_pickup_receiver_province').val(""),
        //$('#shipping_pickup_receiver_province').find('option:selected').text(),
        $('#shipping_pickup_receiver_district').val(""),
        //$('#shipping_pickup_receiver_district').find('option:selected').text(),
        $('#shipping_pickup_receiver_ward').val(""),
        //$('#shipping_pickup_receiver_ward').find('option:selected').text(),
        //$('#shipping_pickup_product_type').val(),
        $('#shipping_pickup_product_name').val(""),
        $('#shipping_pickup_cod_amount').val(""),
        //$('#shipping_pickup_service_type').val(),
        $('#shipping_pickup_contact_date').val(""),
        $('#shipping_pickup_contact_time').val(""),
        $('#shipping_pickup_contact_name').val(""),
         $('#shipping_pickup_contact_mobile').val(""),
        $('#notes').val()
    };

    function saveSHIPPING_PICKUP() {
        var dataToSend = {
            _id: '@Model._id',
            RefCode: $('#shipping_pickup_code').val(),
            from_address: {
                name: $('#shipping_pickup_contact_name').val(),
                address: $('#address').val(),
                ward: $('#ward').val(),
                district: $('#district').val(),
                province: $('#province').val(),
                phone: $('#shipping_pickup_contact_mobile').val(),
                postcode_link: $('#shipping_pickup_postcode_link').val()
            },
            to_address: {
                name: $('#shipping_pickup_receiver_name').val(),
                address: $('#shipping_pickup_receiver_address').val(),
                ward: $('#shipping_pickup_receiver_ward').val(),
                district: $('#shipping_pickup_receiver_district').val(),
                province: $('#shipping_pickup_receiver_province').val(),
                phone: $('#shipping_pickup_receiver_mobile').val(),
            },
            product: {
                weight: $('#shipping_pickup_weight').val(),
                quantity: $('#shipping_pickup_quantity').val(),
                code: $('#shipping_pickup_product_code').val(),
                name: $('#shipping_pickup_product_name').val(),
                description: $('#shipping_pickup_product_name').val(),
                value: $('#shipping_pickup_amount').val(),
                date: $('#shipping_pickup_contact_date').val(),
                time: $('#shipping_pickup_contact_time').val(),
            },

            service: {
                cashpost_service: "2",
                shipping_main_service: $('#shipping_pickup_service_type').val(),
                shipping_add_service: $('#shipping_pickup_product_type').val()
            }
        };
        $.ajax({
            url: '@Url.Content("~/ServiceRequest/Request/SaveShippingPickupRequest")',
            type:'POST',
            dataType: "json",
            data: {
                request: JSON.stringify(dataToSend)
            },
            success: function (data) {
                $('.create-result').fadeIn();
            }
        });
    };
    $(document).ready(function () {
        $('#shipping_pickup_customer_name').change(function () {
            $('#shipping_pickup_contact_name').val($(this).val());
        })
        $('#shipping_pickup_customer_mobile').change(function () {
            $('#shipping_pickup_contact_mobile').val($(this).val());
        })

        // Định danh khách hàng.
        $('#shipping_pickup_customer_code').change(function () {
            $.ajax({
                url: '@Url.Content("~/Merchant/Proxy/ListProfile")',
                type:'POST',
                dataType: "json",
                data: { customer_code: $("#shipping_pickup_customer_code").val() },
                success: function (data) {
                    document.getElementById("shipping_pickup_customer_name").defaultValue = data.customer_name;
                    document.getElementById("shipping_pickup_customer_mobile").defaultValue = data.customer_mobile;
                    document.getElementById("shipping_pickup_address").defaultValue = data.address;
                    document.getElementById("shipping_pickup_province").defaultValue = data.province;
                }
            });
        })

    });
</script>
