@model PayID.Portal.Models.Unit

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="modaltitle" class="modal-title">@("Sửa thông tin đơn vị " + Model.UnitName)</h2>
</div>
@using (Ajax.BeginForm("UpdateUnit", "Organization", new { Area = "Metadata" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "Po.UnitOnsuccess" }, new { @id = "fEditUnit", @autocomplete = "off" }))
{
    <div class="modal-body" style="padding:0px !important;">
        <div class="alert alert-info" style="margin-bottom:0px !important; border-width:0px;">
            @Html.HiddenFor(x => x.UnitCode)
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="UserName">Tên đơn vị&nbsp;<span style="color:#f48260;">(*)</span></label>
                            @Html.TextBoxFor(x => x.UnitName, new { @autocomplete = "off", @class = "form-control validate[required, funcCall[common.CheckCharSpecial]]", @placeholder = "Tên đơn vị" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FullName">Tỉnh, Thành phố&nbsp;<span style="color:#f48260;">(*)</span></label>
                            @Html.DropDownListFor(x => x.ProvinceCode, (IEnumerable<SelectListItem>)ViewBag.ListProvince, new { @class = "form-control validate[required]", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FullName">Quận, Huyện&nbsp;<span style="color:#f48260;">(*)</span></label>
                            @Html.DropDownListFor(x => x.DistrictCode, (IEnumerable<SelectListItem>)ViewBag.ListDistrict, new { @class = "form-control validate[required]", @onchange = "common.DistrictChange('DistrictCode','CommuneCode','PickUpHamlet','','ProvinceCode','PickUpStreet','PickUpAddress')" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FullName">Xã, Phường&nbsp;<span style="color:#f48260;">(*)</span></label>
                            @Html.DropDownListFor(x => x.CommuneCode, (IEnumerable<SelectListItem>)ViewBag.ListWard, new { @class = "form-control validate[required]" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6" style="text-align:left;">
            <button type="button" onclick="Po.SubmitUnit()" class="btn btn-primary"><i class="fa fa-check"></i> Lưu</button>
        </div>
        <div class="col-md-6" style="float:right;">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
        </div>
    </div>
</div>